@model University.Web.Models.ViewModels.GroupsViewModels.GroupDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of the group</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberStudents)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-courseId="@Model.CourseId">Back to List</a>
</div>